<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Soft-Shirt
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/index">Inicio</a>
    <a href="/usuarios">Usuarios</a>
    <a href="/compras">Compras</a>
    <a href="/productos">Productos</a>
    <a href="/proveedores">Proveedores</a>
    <a href="/clientes">Clientes</a>
    <a href="/ventas">Ventas</a>


  </div>
</div>